assets/node_modules
_build/
deps/
priv/static/images/*
priv/static/js/*
priv/static/css/*
!priv/static/images/face.svg
!priv/static/images/logo.png
!priv/static/images/text.svg
!priv/static/images/adult.svg
!priv/static/images/racy.svg
!priv/static/images/violence.svg
!priv/static/images/download.svg
!priv/static/images/close.svg
!priv/static/images/question.svg
mix.lock
package-lock.json
priv/static/cache_manifest.json
priv/static/favicon-*
priv/static/robots-*
priv/static/robots.txt.gz
**.DS_Store
